# <center> Mod 3 Cheatsheet

## Pivot tables

In [2]:
import pandas as pd
df = pd.read_csv('candy-data.csv')
df.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511
2,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511
3,Almond Joy,1,0,0,1,0,0,0,1,0,0.465,0.767
4,Baby Ruth,1,0,1,1,1,0,0,1,0,0.604,0.767

### `pivot_table()`

<b>data</b>: The DataFrame and specific columns you want to use. <br>
<b>columns</b>: The feature(s) you want the columns to be. <br>
<b>index</b>: The feature(s) you want the index to be.<br>
<b>aggfunc</b>: The aggregration function. For a count, use `len`. <br>

In [10]:
table = pd.pivot_table(data=df[['chocolate', 'bar']], columns=['chocolate'], index='bar', aggfunc=len)
table

chocolate   0   1
bar
0          45  17
1           1  20

### Adding column and row sums

Adding row.

In [11]:
table = table.append(pd.Series(table.sum(axis=0), name='sum'))
table

chocolate   0   1
bar
0          45  17
1           1  20
sum        46  37

Adding column.

In [12]:
table['sum']=table.sum(axis=1)
table

chocolate   0   1  sum
bar
0          45  17   62
1           1  20   21
sum        46  37   83

### Multiple indexes

In [13]:
table = pd.pivot_table(data=df[['caramel', 'nougat', 'chocolate']], columns=['chocolate'], index=['nougat', 'caramel'], aggfunc=len)
table

chocolate          0     1
nougat caramel
0      0        41.0  25.0
       1         4.0   6.0
1      0         1.0   2.0
       1         NaN   4.0

## Factorials

### `math.factorial()`

In [16]:
import math
math.factorial(7)

5040

## Permutation and Combination Calculation

In [17]:
import math

def nPr(n,r):
    f = math.factorial
    return f(n) // f(n-r)

def nCr(n,r):
    f = math.factorial
    return f(n) // f(r) // f(n-r)

In [19]:
nPr(5,2), nCr(5,2)

(20, 10)

## Permutation and Combination Generation

In [21]:
from itertools import permutations, combinations, combinations_with_replacement
colors = ['red', 'blue', 'green', 'yellow', 'orange']

In [23]:
[x for x in permutations(colors)]

[('red', 'blue', 'green', 'yellow', 'orange'),
 ('red', 'blue', 'green', 'orange', 'yellow'),
 ('red', 'blue', 'yellow', 'green', 'orange'),
 ('red', 'blue', 'yellow', 'orange', 'green'),
 ('red', 'blue', 'orange', 'green', 'yellow'),
 ('red', 'blue', 'orange', 'yellow', 'green'),
 ('red', 'green', 'blue', 'yellow', 'orange'),
 ('red', 'green', 'blue', 'orange', 'yellow'),
 ('red', 'green', 'yellow', 'blue', 'orange'),
 ('red', 'green', 'yellow', 'orange', 'blue'),
 ('red', 'green', 'orange', 'blue', 'yellow'),
 ('red', 'green', 'orange', 'yellow', 'blue'),
 ('red', 'yellow', 'blue', 'green', 'orange'),
 ('red', 'yellow', 'blue', 'orange', 'green'),
 ('red', 'yellow', 'green', 'blue', 'orange'),
 ('red', 'yellow', 'green', 'orange', 'blue'),
 ('red', 'yellow', 'orange', 'blue', 'green'),
 ('red', 'yellow', 'orange', 'green', 'blue'),
 ('red', 'orange', 'blue', 'green', 'yellow'),
 ('red', 'orange', 'blue', 'yellow', 'green'),
 ('red', 'orange', 'green', 'blue', 'yellow'),
 ('red', 'orange', 'green', 'yellow', 'blue'),
 ('red', 'orange', 'yellow', 'blue', 'green'),
 ('red', 'orange', 'yellow', 'green', 'blue'),
 ('blue', 'red', 'green', 'yellow', 'orange'),
 ('blue', 'red', 'green', 'orange', 'yellow'),
 ('blue', 'red', 'yellow', 'green', 'orange'),
 ('blue', 'red', 'yellow', 'orange', 'green'),
 ('blue', 'red', 'orange', 'green', 'yellow'),
 ('blue', 'red', 'orange', 'yellow', 'green'),
 ('blue', 'green', 'red', 'yellow', 'orange'),
 ('blue', 'green', 'red', 'orange', 'yellow'),
 ('blue', 'green', 'yellow', 'red', 'orange'),
 ('blue', 'green', 'yellow', 'orange', 'red'),
 ('blue', 'green', 'orange', 'red', 'yellow'),
 ('blue', 'green', 'orange', 'yellow', 'red'),
 ('blue', 'yellow', 'red', 'green', 'orange'),
 ('blue', 'yellow', 'red', 'orange', 'green'),
 ('blue', 'yellow', 'green', 'red', 'orange'),
 ('blue', 'yellow', 'green', 'orange', 'red'),
 ('blue', 'yellow', 'orange', 'red', 'green'),
 ('blue', 'yellow', 'orange', 'green', 'red'),
 ('blue', 'orange', 'red', 'green', 'yellow'),
 ('blue', 'orange', 'red', 'yellow', 'green'),
 ('blue', 'orange', 'green', 'red', 'yellow'),
 ('blue', 'orange', 'green', 'yellow', 'red'),
 ('blue', 'orange', 'yellow', 'red', 'green'),
 ('blue', 'orange', 'yellow', 'green', 'red'),
 ('green', 'red', 'blue', 'yellow', 'orange'),
 ('green', 'red', 'blue', 'orange', 'yellow'),
 ('green', 'red', 'yellow', 'blue', 'orange'),
 ('green', 'red', 'yellow', 'orange', 'blue'),
 ('green', 'red', 'orange', 'blue', 'yellow'),
 ('green', 'red', 'orange', 'yellow', 'blue'),
 ('green', 'blue', 'red', 'yellow', 'orange'),
 ('green', 'blue', 'red', 'orange', 'yellow'),
 ('green', 'blue', 'yellow', 'red', 'orange'),
 ('green', 'blue', 'yellow', 'orange', 'red'),
 ('green', 'blue', 'orange', 'red', 'yellow'),
 ('green', 'blue', 'orange', 'yellow', 'red'),
 ('green', 'yellow', 'red', 'blue', 'orange'),
 ('green', 'yellow', 'red', 'orange', 'blue'),
 ('green', 'yellow', 'blue', 'red', 'orange'),
 ('green', 'yellow', 'blue', 'orange', 'red'),
 ('green', 'yellow', 'orange', 'red', 'blue'),
 ('green', 'yellow', 'orange', 'blue', 'red'),
 ('green', 'orange', 'red', 'blue', 'yellow'),
 ('green', 'orange', 'red', 'yellow', 'blue'),
 ('green', 'orange', 'blue', 'red', 'yellow'),
 ('green', 'orange', 'blue', 'yellow', 'red'),
 ('green', 'orange', 'yellow', 'red', 'blue'),
 ('green', 'orange', 'yellow', 'blue', 'red'),
 ('yellow', 'red', 'blue', 'green', 'orange'),
 ('yellow', 'red', 'blue', 'orange', 'green'),
 ('yellow', 'red', 'green', 'blue', 'orange'),
 ('yellow', 'red', 'green', 'orange', 'blue'),
 ('yellow', 'red', 'orange', 'blue', 'green'),
 ('yellow', 'red', 'orange', 'green', 'blue'),
 ('yellow', 'blue', 'red', 'green', 'orange'),
 ('yellow', 'blue', 'red', 'orange', 'green'),
 ('yellow', 'blue', 'green', 'red', 'orange'),
 ('yellow', 'blue', 'green', 'orange', 'red'),
 ('yellow', 'blue', 'orange', 'red', 'green'),
 ('yellow', 'blue', 'orange', 'green', 'red'),
 ('yellow', 'green', 'red', 'blue', 'orange'),
 ('yellow', 'green', 'red', 'orange', 'blue'),
 ('yellow', 'green', 'blue', 'red', 'orange'),
 ('yellow', 'green', 'blue', 'orange', 'red'),
 ('yellow', 'green', 'orange', 'red', 'blue'),
 ('yellow', 'green', 'orange', 'blue', 'red'),
 ('yellow', 'orange', 'red', 'blue', 'green'),
 ('yellow', 'orange', 'red', 'green', 'blue'),
 ('yellow', 'orange', 'blue', 'red', 'green'),
 ('yellow', 'orange', 'blue', 'green', 'red'),
 ('yellow', 'orange', 'green', 'red', 'blue'),
 ('yellow', 'orange', 'green', 'blue', 'red'),
 ('orange', 'red', 'blue', 'green', 'yellow'),
 ('orange', 'red', 'blue', 'yellow', 'green'),
 ('orange', 'red', 'green', 'blue', 'yellow'),
 ('orange', 'red', 'green', 'yellow', 'blue'),
 ('orange', 'red', 'yellow', 'blue', 'green'),
 ('orange', 'red', 'yellow', 'green', 'blue'),
 ('orange', 'blue', 'red', 'green', 'yellow'),
 ('orange', 'blue', 'red', 'yellow', 'green'),
 ('orange', 'blue', 'green', 'red', 'yellow'),
 ('orange', 'blue', 'green', 'yellow', 'red'),
 ('orange', 'blue', 'yellow', 'red', 'green'),
 ('orange', 'blue', 'yellow', 'green', 'red'),
 ('orange', 'green', 'red', 'blue', 'yellow'),
 ('orange', 'green', 'red', 'yellow', 'blue'),
 ('orange', 'green', 'blue', 'red', 'yellow'),
 ('orange', 'green', 'blue', 'yellow', 'red'),
 ('orange', 'green', 'yellow', 'red', 'blue'),
 ('orange', 'green', 'yellow', 'blue', 'red'),
 ('orange', 'yellow', 'red', 'blue', 'green'),
 ('orange', 'yellow', 'red', 'green', 'blue'),
 ('orange', 'yellow', 'blue', 'red', 'green'),
 ('orange', 'yellow', 'blue', 'green', 'red'),
 ('orange', 'yellow', 'green', 'red', 'blue'),
 ('orange', 'yellow', 'green', 'blue', 'red')]

In [25]:
[x for x in combinations(colors, 2)]

[('red', 'blue'),
 ('red', 'green'),
 ('red', 'yellow'),
 ('red', 'orange'),
 ('blue', 'green'),
 ('blue', 'yellow'),
 ('blue', 'orange'),
 ('green', 'yellow'),
 ('green', 'orange'),
 ('yellow', 'orange')]

In [26]:
[x for x in combinations_with_replacement(colors, 2)]

[('red', 'red'),
 ('red', 'blue'),
 ('red', 'green'),
 ('red', 'yellow'),
 ('red', 'orange'),
 ('blue', 'blue'),
 ('blue', 'green'),
 ('blue', 'yellow'),
 ('blue', 'orange'),
 ('green', 'green'),
 ('green', 'yellow'),
 ('green', 'orange'),
 ('yellow', 'yellow'),
 ('yellow', 'orange'),
 ('orange', 'orange')]